body 
{
	font-family:Verdana;
	font-size:10pt;
	color:maroon;
	background-color:white;
}

input,textarea
{
	font-family:Verdana;
	font-size:10pt;
	color:black;
}

table,tr,td,th,tbody
{
	background-color: #ffffff;
	color: maroon;
}

table
{
	margin: 0px;
}

.help
{
	font-family:Verdana;
	font-size:10pt;
	color:#404040;
}