body 
{
	font-family:Verdana;
	font-size:10pt;
	color:maroon;
	background-color:white;
}

input,textarea
{
	font-family:Verdana;
	font-size:10pt;
	color:black;
	border: 1px solid gray;
}

table,tr,td,th,tbody
{
	background-color: #f0f0f0;
	color: maroon;
}

table
{
	margin: 10px;
}

hr
{
	border: 1px solid maroon;
}

.help
{
	font-family:Verdana;
	font-size:10pt;
	color:maroon;
	font-weight:bold;
}